html {
    font-size: 62.5%
}

header {
    background: #f9f8f6;
}

header .container h1 {
    margin-top: 39px
}

body {

    background-color: #f9f8f6;
}


header .pc_navi_li {
    margin-left: 68px;
    margin-top: 69px;

}

header .pc_navi_li li {
    float: left;
    list-style: none;

}

header .pc_navi_li li a {

    letter-spacing: 1.3px;
    padding-right: 10px
}




.home {
    border-radius: 3px;
    background-color: #e8e4da;
    padding: 10px 0px 0px 11px;
    width: 700px;
    height: 34px;
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 11px;
    line-height: 24px;
    font-weight: 550;
    margin-bottom: 10px;


}

.back_next {
    margin-top: 20px;
    margin-bottom: 81px;
}



.back {
    font-family: AvenirNext;
    color: #ffffff;
    font-size: 14px;

    font-weight: 700;
    line-height: 18px;
    float: left;
    text-align: center;
    background-color: #887f69;
    width: 121px;
    height: 40px;
    line-height: 40px;
}


.next_second {
    font-family: AvenirNext;
    color: #ffffff;
    font-size: 14px;

    font-weight: 700;
    line-height: 18px;
    float: right;
    text-align: center;
    background-color: #887f69;
    width: 121px;
    height: 40px;
    line-height: 40px;

}



.category_name {
    margin-top: 10px;
    margin-bottom: 11px;

    width: 700px;
    height: 170px;

}

.category_name img {
    width: 710px;
    height: 170px;

}

.title-border {
    color: #887f69;
    display: flex;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 30px;
    clear: left;
}

.title-border:before,
.title-border:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}

.title-border:before {
    margin-right: 1rem;
}

.title-border:after {
    margin-left: 1rem;
}




#items .main-items p {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
}


.main-items {
    background-color: #f9f8f6;
    display: flex;
    flex-wrap: wrap;
}

.items-box {
    background-color: #fff;
    box-sizing: border-box;
    height: 340px;
    width: 232px;
    flex: 1;
    padding: 15px 15px 30px 15px;
    margin: 1px;


}


.guide {
    display: flex;
    flex-direction: row;
}


.guide-box {
    background-color: #fff;
    padding: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 60px;
    flex: 1;
}


.guide-box h2 {
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 600;

}

.guide-main p {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-weight: 600;

}

.guide-main li {
    list-style-type: none;
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 600;


}


.search {

    padding: 20px 20px 30px 20px;
    background-color: #ffffff;
}

input::-webkit-input-placeholder {
    color: #b5b5b5;
}

#form2 {
    position: relative;
    margin-top: 5px;


}

#sbox2 {

    background-color: #eeeeee;
    width: 178px;
    height: 30px;
    padding: 0px 10px;
    position: absolute;
    left: 0;
    top: 0;

    border-radius: 1px;
    border: none;

}

#sbtn2 {
    height: 30px;
    position: absolute;
    left: 125px;
    border: none;
    font-size: 11px;
    outline: 0;
}


#menu {
    cursor: pointer;
    padding: 17px 11px 16px 15px;
    background-color: #887f69;
    margin-top: 10px;

}



.next {
    margin-left: 100px;
}

.next-second {
    margin-left: 90px;
}

.next-third {
    margin-left: 115px;
}

.sp_menu_toggle {
    display: none;
    background-color: #fff;

}

.sp_menu_toggle li {
    border-bottom: 1px #f9f8f6 solid;
    padding: 17px 11px 16px 15px;
    background-color: #fff;
    list-style: none;
}

.sp_menu_toggle li a {
    color: #000000;
    text-decoration: none;

}

#categories {
    cursor: pointer;
    padding: 17px 11px 16px 15px;
    background-color: #887f69;
    margin-top: 10px;
}

.sp_categories_toggle {
    display: none;
    background-color: #fff;
}

.sp_categories_toggle li {
    border-bottom: 1px #f9f8f6 solid;
    padding: 17px 11px 16px 15px;
    background-color: #fff;
    list-style: none;
}

.sp_categories_toggle li a {
    color: #000000;
    text-decoration: none;

}

.next-fourth {
    margin-left: 85px;
}

.about {
    padding: 17px 11px 16px 15px;
    background-color: #887f69;
    margin-top: 10px;

}

.about-info {
    background-color: #fff;
    padding: 9px;

}

.about-info p {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-weight: 600;
}

.more {
    margin-top: -10px;
    text-align: center;
}

.shop {
    padding: 17px 11px 16px 15px;
    background-color: #887f69;
    margin-top: 10px;
}

footer .page-top {
    float: right;

}

footer .border {
    height: 1px;
    border: none;
    border-top: 1px #887f69 solid;
    margin-bottom: 34px;
}


footer .footer-list {
    display: flex;
    justify-content: center;
    list-style: none;


}

footer .footer-list li {
    font-family: HiraKakuPro;
    font-size: 12px;
    line-height: 18px;

    list-style: none;
    margin-left: 30px;
    font-weight: 600;

}

footer .footer-list a {
    color: #000000;
    text-decoration: none;

}

footer .copy {
    font-family: HiraKakuPro;
    color: #b8b5ac;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    margin-top: -15px;
}

.slide {
    height: 500px;
    padding: 39px 50px 10px 50px;
    background-color: #fff;
}

.border {
    height: 1px;
    border: none;
    border-top: 1px #e8e4da solid;
    margin-bottom: 20px;
}

.syouhinmei {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 3px;
    float: left;

}

.namber {
    font-family: HiraKakuPro;
    color: #a6a6a6;
    font-size: 10px;
    line-height: 18px;
    text-align: right;
}

#display_img {
    float: left;
}


#display_img img {
    display: inline-block;
    width: 100%;


}

#list_img li {
    list-style: none;
    display: inline-block;

}

#list_img li img {
    width: 75px;
    height: 76px;
    cursor: pointer;
    margin-left: 9px;
    margin-bottom: -9px;

}

.border2 {
    height: 1px;
    border: none;
    border-top: 1px #e8e4da solid;
    margin-top: 10px;
    margin-bottom: 20px;
}

.color-size {
    margin-bottom: 13px;
}

.color-box p {
    text-align: center;
    margin-top: 10px;
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.color-box input {
    margin-top: 3px;
}

.box1 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #f9f9f5;
    width: 162px;
    height: 40px;
    display: inline-block;
    float: left;

}

.box2 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #f9f9f5;
    width: 210px;
    height: 40px;
    display: inline-block;
    float: left;
}

.box-2 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #fff;
    width: 210px;
    height: 40px;
    display: inline-block;
    float: left;
}

.box3 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #f9f9f5;
    width: 210px;
    height: 40px;
    display: inline-block;
}

.border3 {
    width: 58%;
    height: 1px;
    border: none;
    border-top: 1px #e8e4da solid;
    margin-top: 100px;
    margin-bottom: 20px;

}

.price {
    margin-top: 25px;
    float: left;
}

.yen {
    font-family: HiraKakuPro;
    font-style: oblique;
    color: #e80f66;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
    margin-left: 90px;
    float: left;

}

.kingaku {
    font-family: HiraKakuPro;
    color: #e80f66;
    font-size: 22px;
    line-height: 24px;
    text-align: left;
    margin-top: 19px;
    float: left;
    font-style: oblique;
}

.tax {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
    font-style: oblique;
    float: left;
}

.border4 {
    width: 58%;
    height: 1px;
    border: none;
    border-top: 1px #e8e4da solid;
    margin-bottom: 20px;
}

.cart {
    margin-left: 100px;
    margin-top: -20px;
}

.quantity {
    float: left;
    margin-top: 7px;
}

.box4 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 149px;
    height: 40px;
    display: inline-block;
    margin-left: 50px;
    margin-top: -5px;
}

.border5 {
    height: 1px;
    border: none;
    border-top: 1px #e8e4da solid;
    margin-top: 8px;
    margin-bottom: 35px;
}

.setumei {
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 18px;
}

.border6 {
    height: 1px;
    border: none;
    border-top: 1px #887f69 solid;
    margin-bottom: 25px;
}

.setumei2 {
    font-family: HiraKakuPro;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    
}

.box5 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #f9f9f5;
    width: 162px;
    height: 40px;
    float: left;
}

.box5 p {
    text-align: center;
    margin-top: 10px;
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.box6 {
    border-style: solid;
    border-width: 1px;
    border-color: #e8e4da;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 418px;
    height: 40px;
    display: inline-block;
}

.box6 p {
    text-align: center;
    margin-top: 10px;
    font-family: HiraKakuPro;
    color: #887f69;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {

    #header_in {
        width: auto;
    }

    header .header-logo {
        text-align: center;
        margin-bottom: -80px;
    }



    .pc_navi li {
        display: none;
    }

    .owl-carousel {
        margin-top: 15px;
    }
    .title-border {
        display: none;
    }
    .guide {
        flex-direction: column;

    }

    .guide-box {
        margin-bottom: 1px;
        padding: 15px;

    }

    .next {
        margin-left: 220px;
    }

    .next-second {
        margin-left: 211px;
    }

    .next-third {
        margin-left: 235px;
    }
    .next-fourth {
        margin-left: 205px;
    }

    .items-box {
        height: 250px;
        width: auto;
        flex: 0;
        padding: 8px;
    }
    .items-box img {
        height: 150px;
        width: 150px;
    }

    .search {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #sbox2 {
        width: 300px;
    }
    #sbtn2 {
        margin-left: 120px;
    }

    .about-img {
        height: 100px;
        width: 150px;
        padding: 0px 10px 0px 0px;
        float: left;
    }

    .page-top {
        margin-right: 130px;
        margin-top: 20px;
        
    }

    .border {
        margin-top: 30px;
    }

    footer .footer-list {
        display: block;
        text-align: center;


    }

    footer .footer-list li {
        display: inline-block;
        width: auto;
        margin-left: 1px;

}
    
    .home{
        width: auto;
    }
    
    .category_name {
        width: 335px;
        height: 120px;
    }
    
    .category_name img{
        width: 335px;
        height: 120px;
    }
    
    .slide{
        margin-top: 20px;
        padding: 5px;
    }
    
    
    #display_img img{
        display: inline-block;
    width: 100%;
    }
    
    
    
    #list_img li img{
        width: 60px;
        height: 60px;
        padding: 0px;
        margin-right: 2px;
        margin-left: 0px;
    }
    
    .border2{
        margin-top: 80px; 
    }
    
    .syouhinmei{
        float: none;
        margin-bottom: 5px;
    }
    
    .namber{
        text-align: left;
        margin-bottom: 5px;
    }
    
    .box1{
        width: 100px;
    }
    
    .box2{
        width: 115px;
    }
    
    .box-2{
        width: 115px;
    }
    .border3{
        width: 100%;
    }
    
    .cart{
        display: none;
    }
    
    .border4{
        width: 100%;
        margin-top: 60px;
    }
    
    .cart-sp{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .border5{
        margin-bottom: 10px;
    }
    
    .box5{
        width: 100px;
        height: 50px;
    }
    
    .box6{
        width: 225px;
        height: 50px;
    }
    
    .kara{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom:30px;
        margin-left:  -20px;
        margin-right: -20px;
    }
    
    .items-box{
        height: 280px;
    }
    
    .items-box p{
        margin-bottom: 10px;
    }
}




@media screen and (min-width: 769px) {
    .sp_navi {
        display: none;
    }
    .title-sp {
        display: none;
    }

    .cart-sp{
        display: none;
    }
    
    
}


.sp_navi {
    text-align: center;
}

.sp_navi a {
    margin-right: 7px;

}

.sp_navi_li {
    width: 180px;
    position: absolute;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
}

.sp_navi_li li {

    list-style: none;
    margin: 0;
    padding: 0;
}

.sp_navi_li a {
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none;
}

.title-sp {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.kara{
    background-color: #fff;
    padding: 10px;
}

.owl-theme .owl-dots .owl-dot span {
width: 25px;
height: 2px;
margin: 0 8px 0 0;
background: #aaaaaa;
display: block;
-webkit-backface-visibility: visible;
transition: opacity .2s ease;
border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span 
{
      background: #ff0242; }

.owl-theme .owl-dots {
  text-align: left;

}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px; }